doctype html
html
  head
    meta(charset='utf-8')
    script(src='app.js')
    link(rel="stylesheet", href="app.css")
  body
    
    h1 Fairmont-Reactive Example
    
    :markdown
      Both the `Click me!` button and the counter display only know about the counter's data structure. Neither of them know about the other.
      
      Changes to the data structure are automatically reflected in the display without any coupling to how the counter is updated.
    
    div.main
    
      p: a(href='#increment') Click me!
      
      p.counter 0
