
mixin google-font(name, ...sizes)
  link(
    rel="stylesheet"
    href = "//fonts.googleapis.com/css?family=" + name + sizes.join(", ")
  )

mixin rawgit-css(repo, path, tag)
  link(
    rel = "stylesheet"
    href = "//cdn.rawgit.com/" + [ repo, tag, path ].join("/")
  )

mixin rawgit-js(repo, path, tag)
  script(
    type = "application/javascript"
    src = "//cdn.rawgit.com/" + [ repo, tag, path ].join("/")
  )
