doctype html
html
  head
    meta(charset='utf-8')
    script(src='app.js')
    link(rel="stylesheet", href="app.css")
  body
    
    h1 Fairmont-Reactive Example: A Todo List
        
    :markdown
      The text input is used to generate `change` events. On each one, we
      add items to the `todo` array.
      In turn, we `obverse` the `todo` array for `change` events. On each
      one, we regenerate the `ul` HTML.
      
      Each `li` is decorated with checkbox. These, in turn, are used to
      generate more `change` events. These update the corresponding item
      in the todo list.
      No `change` event for the todos array is generated because we're changing the objects `within` the array, not the array itself.
      
      As always, each of these event flows is independent from the 
      others. One flow can be altered without affecting the others.
    
    div.main
      input(type='text', placeholder="Add to-do items here")
      ul
